**/*.o
src/hsts_preload.h
src/tlds.h

html/keys.html
html/settings.html

src/dwb

**/tags

src/util/convert_transport_security
src/util/mktlds-header

scripts/lib/*.js
scripts/lib/minify

dwbem/dwbem

dwbremote/dwbremote

genapi/**
